/* Import font Helvetica */
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@700&display=swap');

/* Import Black Ops One fonte from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* Styling for the body of the page */
body {
    margin: 0;
    font-family: 'Black Ops One', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #000;
}

/* Styling for the background video */
.background-video {
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Styling for the logo */
.logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    max-width: 100%;
}

/* Container for login and whitelist form */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Styling for the login container */
.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 400px;
}

/* Nota sobre senha */
.password-note {
    margin: 0 0 20px;
    font-size: 1.2em;
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
}

/* Paragraphs inside login container */
.login-container p {
    margin: 0 0 20px;
    font-size: 1em;
    color: #ddd;
}

/* Styling for input fields inside login container */
.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    letter-spacing: 1px;
    transition: filter 0.3s ease-in-out;
}

/* Focus effect for input fields */
.login-container input:focus {
    filter: blur(2px);
}

/* No filter effect when input is not focused */
.login-container input:not(:focus) {
    filter: none;
}

/* Styling for submit button inside login container */
.login-container input[type="submit"] {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px;
}

/* Hover effect for submit button */
.login-container input[type="submit"]:hover {
    color: #000;
    border: 2px solid #000;
}

/* Styling for error message */
.error-message {
    color: #f00;
    margin-top: 10px;
    font-size: 0.9em;
}

/* Styling for join whitelist button */
#joinWhitelistBtn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Hover effect for join whitelist button */
#joinWhitelistBtn:hover {
    color: #000;
    border: 2px solid #000;
}

/* Animation for active state of join whitelist button */
#joinWhitelistBtn.active {
    animation: buttonExpand 0.3s ease-in-out;
}

/* Keyframes for button expand animation */
@keyframes buttonExpand {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}

/* Styling for whitelist form */
.whitelist-form {
    display: flex;
    flex-direction: column;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    width: 400px;
}

/* Show state of whitelist form */
.whitelist-form.show {
    max-height: 500px;
    opacity: 1;
}

/* Heading inside whitelist form */
.whitelist-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* Form fields inside whitelist form */
.whitelist-form .form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Styling for input fields inside whitelist form */
.whitelist-form .form-fields input {
    flex: 1;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Focus effect for input fields */
.whitelist-form .form-fields input:focus {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Styling for submit button inside whitelist form */
.whitelist-form input[type="submit"] {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    padding: 15px;
    font-size: 1em;
    width: 100%;
}

/* Hover effect for submit button */
.whitelist-form input[type="submit"]:hover {
    color: #000;
    border: 2px solid #000;
    background-color: #fff;
}

/* Privacy note styling */
.privacy-note {
    font-size: 0.8em;
    color: #aaa;
    margin-top: 10px;
}

/* Responsive styles for screens smaller than 600px */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .login-container {
        padding: 15px;
        width: 90%;
        max-width: none;
    }

    .login-container p {
        font-size: 1em;
    }

    .login-container input, .login-container input[type="submit"] {
        font-size: 0.9em;
        padding: 8px;
    }

    .whitelist-form {
        flex-direction: column;
    }

    .whitelist-form .form-fields input {
        width: 100%;
    }

    .whitelist-form h2 {
        font-size: 1.2em;
    }

    .whitelist-form input, .whitelist-form input[type="submit"] {
        font-size: 0.9em;
        padding: 8px;
    }

    .logo {
        width: 100px;
    }
}

/* Responsive styles para screens menores que 400px */
@media (max-width: 400px) {
    .login-container p {
        font-size: 0.8em;
    }
}